## Base16 {{scheme-name}}
## Scheme: {{scheme-author}}

##
# The following matchup is only true is you also changed your terminal emulator
# colors to the same as the scheme you are using.
# 0:       #{{base00-hex}}
# 1:       #{{base08-hex}}
# 2:       #{{base0B-hex}}
# 3:       #{{base0A-hex}}
# 4:       #{{base0D-hex}}
# 5:       #{{base0E-hex}}
# 6:       #{{base0C-hex}}
# 7:       #{{base05-hex}}
# 8:       #{{base03-hex}}
# 9:       #{{base09-hex}}
# 10:      #{{base01-hex}}
# 11:      #{{base02-hex}}
# 12:      #{{base04-hex}}
# 13:      #{{base06-hex}}
# 14:      #{{base0F-hex}}
# 15:      #{{base07-hex}}
# 16:      #000000
##

# overall background and foreground color
set color_win_fg=default
set color_win_bg=default

# bottom status line
set color_statusline_fg=2
set color_statusline_bg=default

# bottom title line
set color_titleline_fg=2
set color_titleline_bg=default

# top title area
set color_win_title_fg=2
set color_win_title_bg=default
set color_win_title_attr=bold

# command-line colors
set color_cmdline_bg=default
set color_cmdline_fg=default
set color_error=1

# For echo text
set color_info=6
set color_separator=16

# unselected currently playing track's text
set color_win_cur=13

# active selection for currently playing track
set color_win_cur_sel_bg=default
set color_win_cur_sel_fg=3
set color_win_cur_sel_attr=underline

# inactive selection for currently playing track
set color_win_inactive_cur_sel_bg=default
set color_win_inactive_cur_sel_fg=13

# active selection
set color_win_sel_bg=default
set color_win_sel_fg=3
set color_win_sel_attr=underline

# inactive selection
set color_win_inactive_sel_bg=default
set color_win_inactive_sel_fg=1

# directory listing color
set color_win_dir=default
